/* FONTS STUFF */

@font-face {
	font-family: 'TerminusTTF';
	src: url('fonts/TerminusTTF-4.49.3.ttf') format('truetype');
}

@font-face {
	font-family: 'Andes';
	src: url('fonts/Andes.ttf') format('truetype');
}

@font-face {
	font-family: 'HyperLegibleNext';
	src: url('fonts/AtkinsonHyperlegibleNext-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'HyperLegibleNextLight';
	src: url('fonts/AtkinsonHyperlegibleNext-Light.ttf') format('truetype');
}

p {
	font-family: HyperLegibleNext;
	text-align: left;
	color: white;
	margin: 0;
}

a, a:link, a:visited {
	 color: lime !important;
	 text-decoration: none;
}

a:hover, a:hover {
	 color: orange !important;
	 text-decoration: none;
}

a:active, a:active {
	 color: orange !important;
	 text-decoration: underline;
}

img {
	display: flex;
}

div {
	display: flex;
}

/* HEADER STUFF*/

.headercontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: auto;
	width: auto;
	height: auto;
}

.headerinnercontainer {
	display: flex;
	position: relative;
	width: 1230px;
	height: 250px;
	outline: solid black 1px;
	justify-content: center;
	align-items: center;
	margin: auto;
	z-index: 0;
}

.logo {
	display: flex;
	position: absolute;
	margin: auto;
	z-index: 1;
	transition: 0.2s;
}

.logo:hover {
	transform: scale(105%);
}

.logo:active {
	transform: scale(95%);
	filter: brightness(125%);
}

/* BODY STUFF */

body, html {
	margin: 0;
	padding: 0;
}

.mainbody {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 1232px;
	height: auto;
}

.mainbodywrapper {
	display: flex;
	justify-content: top;
	width: auto;
	height: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.contentwrapper {
	display: flex;
	margin-left: auto;
	flex-direction: column;
	justify-content: top;
	width: 1006px;
	height: auto;
}

#headervideo {
	pointer-events: none;
}

#backgroundvideo {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
	object-fit: cover;
	z-index: -1;
	pointer-events: none;
}

.handlebarsmall {
	display: flex;
	width: 100%;
	height: 10px;
	background-image: url(images/handlebars/handlebarsmall.png);
	background-repeat: repeat-x;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.handlebarbig {
	display: flex;
	width: 100%;
	height: 40px;
	background-image: url(images/handlebars/handlebarbig.png);
	background-repeat: repeat-x;
	outline: solid black 1px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

/* TEXT BOXES STUFF */

.postcontainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.textbubbletopcontainer{
	display: flex;
	flex-flow: row wrap;
	background-color: gray;
	width: auto;
	height: 40px;
	outline: solid black 1px;
	background-image:url(images/handlebars/handlebarbig.png);
}

.textbubblecontainer {
	display: flex;
	position: relative;
	flex-flow: column wrap;
	background-color: #1f1f1f;
	width: 92%;
	height: auto;
	outline: solid black 1px;
	align-self: center;
}

.texttop {
	margin-top: 10px;
	margin-left: 5px;
}

.textbottom {
	margin-left: 10px;
}
.textsignature {
	position: relative; right: 10px;
	font-family: Andes; font-size: 32px; color: white; text-align: right;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;

}

.PFP {
	display: flex;
	width: 125px;
	height: 125px;
	margin-top: 10px;
	margin-left: 10px;
	outline: solid black 1px;
}

.AlbumCover {
	display: flex;
	width: 125px;
	height: 125px;
	margin-right: 5px;
	outline: solid black 1px;
	transition: 0.2s;
}

.AlbumCover:hover {
	outline: solid gray 1px;
	box-shadow: 0 0 5px white;
}

.AlbumCover:active {
	outline: solid white 1px;
	box-shadow: 0 0 10px white;
}

/* MENUS STUFF */

.menucontainer {
	display: flex;
	flex-direction: column;
	background-image: url('images/backgrounds/menuscanlinesblack.png');
	background-color: rgba(47, 87, 63, 0.7);
	justify-content: top;
	margin-right: auto;
	width: 226px;
	height: auto;
	gap: 10px;
}

.navigationcontainer {
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
	gap: 1px;
}

.buttoncontainer {
	display: flex;
	position: relative;
	width: auto;
	height: auto;
	transition: 0.2s;
	margin-left: 1px;
}

.button {
	display: flex;
	transition: 0.2s;
	outline: solid black 1px;
}

.buttoncontainer:hover {
	transform: translateX(10px);
	z-index: 3;
}

.buttoncontainer:hover .button {
	outline: solid gray 1px;
	box-shadow: 0 0 5px white;
}

.buttoncontainer:active .button {
	filter: brightness(125%);
	outline: solid white 1px;
	box-shadow: 0 0 10px white;
}

/* Button Slide Stuff */

.buttonslide {
	display: flex;
	position: absolute;
	outline: solid black 1px;
	width: auto;
	height: auto;
	animation: buttonslide-reverse 0.2s ease-in-out forwards;
	transition: 0.2s;
	z-index: -1;
	opacity: 0;
	pointer-events: none;
}

.buttoncontainer:hover .buttonslide {
	opacity: 1;
	animation: buttonslide-forward 0.2s ease-in-out forwards;
}

@keyframes buttonslide-forward {
	from {transform: translateX(0);}
	to {transform: translateX(224px);}
}

@keyframes buttonslide-reverse {
	from {transform: translateX(224px);}
	to {transform: translateX(0);}
}

/* BUTTON FADE STUFF */

.buttonfade {
	display: flex;
	position: absolute;
	outline: solid black 1px;
	width: auto;
	height: auto;
	transition: opacity 0.2s ease-in-out;
	z-index: 2;
	opacity: 1;
}

.buttoncontainer:hover .buttonfade {
	opacity: 0;
}

/* CONTAINER STUFF */

.selectioncontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1006px;
	height: auto;
}

.selectioninnercontainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 1006px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bigbutton {
	display: flex;
	outline: solid black 1px;
	transition: 0.2s;
}

.bigbutton:hover {
	transform: translateY(-5px);
	outline: solid gray 1px;
	box-shadow: 0 0 5px white;
}

.bigbutton:active {
	filter: brightness(125%);
	outline: solid white 1px;
	box-shadow: 0 0 10px white;
}

.imagecontainer {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	transition: 0.2s;
}

.postimage {
	outline: solid black 1px;
	width: 100%;
	height: 100%;
}

.postimage:hover {
	outline: solid gray 1px;
	box-shadow: 0 0 5px white;
}

.postimage:active {
	outline: solid white 1px;
	box-shadow: 0 0 10px white;
}

.gobackbutton {
	display: flex;
	position: relative; left: 46px;
	width: 294px;
	height: 70px;
	margin-right: auto;
	margin-bottom: 10px;
	transition: 0.2s;
}

.gobackbutton:hover {
	transform: translateX(-5px);
}

.gobackbutton:active {
	filter: brightness(125%);
}
